Package: com.crifan.iOSOpenDevHookTemplate
Name: iOSOpenDevHookTemplate
Version: 2024.11.23.1650
Description: Crifan iOSOpenDev hook template demo code
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: crifanli
dev: 
Homepage: https://www.crifan.org/about/
Depiction:
Maintainer: 
Icon: 

